<div
  class="select-none font-['Conthrax'] md:mt-2 max-w-md md:max-w-3xl mx-auto md:text-2xl flex flex-wrap flex-col
   md:flex-row place-content-end md:place-content-center">
  @for (item of SocialItems; track $index) {
  <a [href]="item.Href" target="_blank">
    <div
      class="mx-auto text-base text-center mb-2 md:mb-0 text-[#A6A6A6] hover:text-[red] hover:bg-[rgba(0,0,0,0.8)] ml-1 mr-1 pl-2 pr-2 bg-[rgba(0.2,0.2,0.2,0.8)] rounded-tl-lg rounded-br-lg">
      {{item.Text}}
    </div>
  </a>
  }
</div>
